#next,
.message {
  margin-top: 15px;
}
#game {
  align-content: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 60%;
}
.card {
  align-self: center;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
  margin-top: 20px;
  width: 60%;
}

.answers,
#playAgain {
  display: flex;
  flex-direction: column;
  margin: 20px auto 0 auto;
  width: 90%;
}

.gameBtn {
  display: block;
  margin-bottom: 15px;
}

.answerBtn:nth-of-type(3) {
  margin-bottom: 0;
}

#playAgain {
  align-items: center;
  display: none;
  text-align: center;
}
.message {
  text-align: center;
}

.pictures {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
img.top-pic {
  /* border-radius: 50%; */
  border: 2px solid #41403e;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
  height: 75px;
  margin-right: 10px;
  width: 75px;
}
img.top-pic:nth-of-type(5) {
  margin-right: 0;
}
#winningpic {
  display: flex;
  flex-direction: column;
  align-items: center;
}
img#winning-pic {
  border: 2px solid #41403e;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
  max-width: 300px;
}
.red-text {
  color: red;
}
.green-text {
  color: green;
}
