body {
  box-sizing: border-box;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 60%;
}

#navigation {
  align-items: center;
  color: white;
  display: flex;
  justify-content: space-between;
  list-style: none;
  max-width: 60%;
  margin: 0 auto;
  padding: 20px;
}

.nav {
  background: #3b404d;
}

.nav-link {
  outline: 1px solid rgb(194, 194, 194);
  padding: 10px;
}

.nav-link.active {
  background: #4a515f;
}

#hero {
  background: url('/images/juan-davila-153912.jpg');
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
}

#main-heading {
  font-size: 80px;
  font-weight: 500;
  margin: 0 20px 0 20px;
  padding: 0;
  text-shadow: 5px 5px 0px rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

#sub-heading {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 500;
}

#sub-heading span {
  text-decoration: line-through;
}

.cards {
  display: flex;
  justify-content: center;
  margin: 70px 0 70px 0;
}

.card {
  background: #f2f2f2;
  font-size: 16px;
  font-weight: 100;
  margin-right: 30px;
  width: 300px;
}

.card.card-big {
  width: 500px;
}

.card-body {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.card-button {
  display: flex;
  justify-content: center;
}

.button {
  align-self: flex-end;
  box-shadow: none;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 20px;
  padding: 12px 30px 12px 30px;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  transition: 0.5s;
}

.button.button-green {
  background-color: #43a047;
}

.button.button-green:hover {
  background-color: #2e7d32;
}

.button.button-blue {
  background: #1976d2;
}

.button.button-blue:hover {
  background: #0d47a1;
}

.button.button-red {
  background: #e53935;
}

.button.button-red:hover {
  background: #c62828;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 10px 0;
}

#bootstrap .card-title {
  color: #43a047;
}

#responsive .card-title {
  color: #1976d2;
}

#parallax .card-title {
  color: #e53935;
}

.card-info {
  color: #333;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
  font-size: 14px;
  font-weight: 100;
  line-height: 1.5;
}

.card-image {
  height: 150px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.card-image.card-image-big {
  height: 250px;
}

#bootstrap .card-image {
  background: url('images/anton-darius-sollers-306223.jpg');
  background-size: cover;
}

#responsive .card-image {
  background: url('images/dairui-chen-257848.jpg');
  background-size: cover;
}

#parallax .card-image {
  background: url('images/tiago-gerken-205.jpg');
  background-size: cover;
}

#left-side .card-image {
  background: url('images/kitchen-apartment-home-room-1920x860.jpg');
  background-size: cover;
  background-position: center;
}

#right-side .card-image {
  background: url('images/download.jpg');
  background-size: cover;
  background-position: center;
}

#services {
  background: url('images/oleg-chursin-216430.jpg');
  font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
  background-size: cover;
  background-position: center;
  color: white;
  margin: 10px 0 40px 0;
  text-align: center;
}

#services h2 {
  text-shadow: 5px 5px 0px rgba(0, 0, 0, 1);
}

.service-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  align-content: center;
  flex-basis: auto;
  /* default value */
  flex-grow: 1;
}

p.services {
  font-weight: 100px;
  margin: 0 auto;
  width: 60%;
}

section#four-cards {
  padding: 0 30px 0 30px;
}

.card-image.card-image-square {
  height: 270px;
}

#column-1 .card-image {
  background: url('images/card-image-1.jpg');
  background-size: cover;
  background-position: center;
}

#column-2 .card-image {
  background: url('images/card-image-2.jpg');
  background-size: cover;
  background-position: center;
}

#column-3 .card-image {
  background: url('images/card-image-3.jpg');
  background-size: cover;
  background-position: center;
}

#column-4 .card-image {
  background: url('images/card-image-4.jpg');
  background-size: cover;
  background-position: center;
}

#big-single-card {
  margin-bottom: 40px;
}

.single-card-wrapper {
  margin: 0 auto;
  padding-right: 50px;
  padding-left: 50px;
}

.card.card-giant {
  color: rgb(117, 114, 114);
  width: 100%;
}

#single-card-giant .card-image {
  background: url('images/card-image-giant.jpg');
  background-size: cover;
}

.card-image-giant {
  height: 450px;
}

.button-more {
  background: rgb(255, 252, 252);
  color: rgb(117, 114, 114);
  margin-right: auto;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

section#contact {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  background: url('images/francois-olwage-206073.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
}

#contact h2 {
  color: white;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
  font-weight: 100;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
  text-align: center;
}

.form-description {
  background-color: rgba(242, 242, 242, 0.4);
  border-radius: 8px;
}

p.form-description {
  font-size: 18px;
  padding: 30px;
  text-align: center;
}

.contact-wrapper {
  margin: 0 auto;
  width: 50%;
}

.form-wrapper {
  display: flex;
}

.form-input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
  width: 100%;
}

.form-input-wrapper input {
  color: black;
  border-radius: 2px;
  padding: 5px;
  background-color: rgba(242, 242, 242, 0.4);
  outline: none;
  border: none;
  height: 30px;
}

.form-submit-wrapper {
  margin-left: auto;
}

.button.button-submit {
  margin-right: auto;
}

.form-submit-wrapper textarea {
  background-color: rgba(242, 242, 242, 0.4);
  border-radius: 2px;
  border: none;
  outline: none;
}

::-webkit-input-placeholder {
  /* Chrome */
  color: #000;
}

::-webkit-textarea-placeholder {
  /* Chrome */
  color: #000;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #000;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
  opacity: 1;
}

:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: #000;
  opacity: 1;
}

.button.button-submit {
  background-color: rgb(29, 29, 29);
  border: 1px solid white;
  border-radius: 10px;
  transition: .5s;
}

.button.button-submit:hover {
  color: rgb(29, 29, 29);
  background-color: white;
}

section#footer {
  text-align: center;
}

#footer h3 {
  color: #666;
  font-size: 28px;
}

#footer p {
  color: #999;
  font-size: 12px;
}

#footer p span {
  text-decoration: line-through;
}

.copy {
  margin-top: 50px;
}

hr {
  color: #999;
  width: 50%;
}