//====================
// Mixins
//===================
@mixin parallax_button {
  background: none;
  border: 2px solid #fff;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 15px;
  outline: none;
  padding: 15px 35px;
}

@mixin parallax_p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 30px;
  margin-bottom: 50px;
}

@mixin parallax_h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 10px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

@mixin parallax_section ($bg) {
  background: url($bg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

@mixin parallax_wrapper {
  @include flex_centered_columns();
  padding: 150px 0;
}
@mixin flex_centered_columns {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
}
//====================
// BASE
//===================
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
//====================
// Hero
//===================
#hero {
  background: url('../img/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
//====================
// NAV
//===================
.nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  color: white;
  justify-content: flex-end;
  padding: 10px 20px;

  li.nav-link {
    font-size: 13px;
    margin-right: 20px;
    text-transform: uppercase;
  }

  li#nav-brand {
    font-size: 25px;
    margin-right: auto;
    letter-spacing: 5px;
  }
}
//====================
// Hero Section
//===================
.hero-content {
  align-items: flex-start;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin-left: 150px;

  .small-heading {
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 24px;
    text-transform: uppercase;
  }
  .main-heading {
    img {
      max-width: 550px;
    }
  }

  .video-subheading {
    display: flex;

    .play-icon {
      border: 3px solid #fff;
      border-radius: 50%;
      font-size: 20px;
      height: 75px;
      line-height: 68px;
      text-align: center;
      width: 75px;
    }
    .sub-heading {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      line-height: 30px;
      margin-left: 40px;
      width: 50%;
    }
  }
}
//====================
// Section2
//===================
#section2 {
  .section-wrapper {
    @include flex_centered_columns();
    padding: 40px 0;
    text-align: center;
  }
  h2 {
    color: #292929;
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 7px;
    margin-top: 40px;
    text-transform: uppercase;
  }
  p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin: 40px 0;
    width: 60%;
  }
  img {
    max-width: 250px;
  }
}
//====================
// Section3
//===================
#section3 {
  .section-wrapper {
    background-color: #f8f8f8;
    display: flex;
    height: auto;
    justify-content: center;
    padding: 100px 0;
  }
  .text {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-right: 40px;
    width: 50%;

    h2 {
      font-family: 'Oswald', sans-serif;
      font-size: 45px;
      font-weight: 400;
      letter-spacing: 10px;
      margin-bottom: 15px;
      text-transform: uppercase;
    }

    h6 {
      color: rgb(41, 41, 41);
      font-family: 'Oswald', sans-serif;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 2px;
      margin-bottom: 15px;
      text-transform: uppercase;
    }

    p {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: 30px;
      padding: 0 70px;
    }
  }
  .pictures {
    display: flex;
  }
  img {
    max-height: 150px;
    margin-right: 15px;
  }
}
#subsection1 {
  .section-wrapper {
    color: #292929;
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 24px;
    padding: 50px 0;
    text-align: center;
    text-transform: uppercase;
  }
}
#section4 {
  @include parallax_section('../img/section4-bg.jpg');
  .section-wrapper {
    @include parallax_wrapper();
  }
  h2 {
    @include parallax_h2();
  }
  p {
    @include parallax_p();
  }
  button {
    @include parallax_button();
  }
}
#section5 {
  @include parallax_section('../img/section5-bg.jpg');
  .section-wrapper {
    @include parallax_wrapper();
  }
  h2 {
    @include parallax_h2();
  }
  p {
    @include parallax_p();
  }
  button {
    @include parallax_button();
  }
}
#section6 {
  @include parallax_section('../img/section6-bg.jpg');
  .section-wrapper {
    @include parallax_wrapper();
  }
  h2 {
    @include parallax_h2();
  }
  p {
    @include parallax_p();
  }
  button {
    @include parallax_button();
  }
}
