* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
button {
  border: none;
  cursor: pointer;
  outline: none;
}
a {
  cursor: pointer;
  text-decoration: none;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */

.sticky {
  background: rgba(102, 102, 102, 0.4);
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */

.sticky + .content {
  padding-top: 60px;
}
