* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
button {
  border: none;
  cursor: pointer;
  outline: none;
}
a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}
a:visited {
  color: white;
}
/* The sticky class is added to the navbar with JS when it reaches its scroll position */

.sticky {
  background: rgba(102, 102, 102, 0.4);
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */

.sticky + .content {
  padding-top: 60px;
}

.active {
  background: red;
}

//====================
// NAV
//===================
.nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  color: white;
  justify-content: flex-end;
  padding: 10px 20px;

  @include media_phone {
    flex-direction: column;
    width: 100%;
  }

  li.nav-link {
    color: white;
    font-size: 13px;
    margin-right: 20px;
    text-transform: uppercase;

    @include media_phone {
      border-bottom: 1px solid rgba(41, 41, 41, 0.4);
      font-size: 16px;
      margin-right: 0;
      margin-bottom: 10px;
      padding-bottom: 15px;
    }

    a {
      @include media_phone {
      }

      &:visited {
        color: #fff;
      }
    }
  }

  li#nav-brand {
    margin-right: auto;
    @include media_phone {
      border: none;
      display: block;
      margin: 0;
      text-align: center;
    }
    a {
      color: white;
      font-size: 25px;
      letter-spacing: 5px;

      &:visited {
        color: white;
      }
      @include media_phone {
        text-align: center;
      }
    }
  }
}

.nav.white {
  li.nav-link {
    a {
      &:visited {
        color: #222;
      }
    }
  }
}
li#no-boder {
  border: none;
}
a.toggle-nav {
  color: #333;
  cursor: pointer;
  float: right;
  font-size: 42px;
  height: 50px;
  margin-bottom: 15px;
  padding-left: auto;
  padding-right: 20px;
  display: none;

  @include media_phone {
    display: block;
  }
}
ul.nav {
  @include media_phone {
    display: none;
  }
}
ul.nav.open {
  display: block;
}
