//====================
// Hero
//===================
#hero {
  background: url('../img/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
//====================
// NAV
//===================
.nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  color: white;
  justify-content: flex-end;
  padding: 10px 20px;

  li.nav-link {
    font-size: 13px;
    margin-right: 20px;
    text-transform: uppercase;
  }

  li#nav-brand {
    margin-right: auto;
    a {
      color: white;
      font-size: 25px;
      letter-spacing: 5px;
    }
  }
}
//====================
// Hero Section
//===================
.hero-content {
  align-items: flex-start;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin-left: 150px;

  @include media_phone {
    align-items: center;
    margin-left: 0;
  }

  .small-heading {
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 24px;
    text-transform: uppercase;

    @include media_phone {
      margin-bottom: 25px;
    }
  }
  .main-heading {
    img {
      //margin: 0 auto;
      max-width: 550px;

      @include media_phone {
        max-width: 300px;
      }
    }
  }

  .video-subheading {
    display: flex;

    .play-icon {
      border: 3px solid #fff;
      border-radius: 50%;
      cursor: pointer;
      font-size: 20px;
      height: 75px;
      line-height: 68px;
      text-align: center;
      width: 75px;

      @include media_phone {
        margin-left: 30px;
      }
    }
    .sub-heading {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      line-height: 30px;
      margin-left: 40px;
      width: 50%;

      @include media_phone {
        margin-left: 15px;
      }
    }
  }
}
.video-modal {
  background: rgba(0, 0, 0, 0.8);
  display: none;
  height: 100vh;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
  animation-name: modalOpen;
  animation-duration: 1s;
  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;

    @include media_phone {
      margin: 0;
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 25px;
      height: 0;
    }
  }
  .video-wrapper iframe {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    @include media_phone {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  @keyframes modalOpen {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
//====================
// Section2
//===================
#section2 {
  .section-wrapper {
    @include flex_centered_columns();
    padding: 40px 0;
    text-align: center;
  }
  h2 {
    @include main_heading();
    color: #292929;
    margin-top: 40px;
  }
  p {
    @include sub_heading();
    margin: 40px 0;
    width: 60%;
  }
  img {
    max-width: 250px;
  }
}
//====================
// Section3
//===================
#section3 {
  .section-wrapper {
    background-color: #f8f8f8;
    display: flex;
    height: auto;
    justify-content: center;
    padding: 100px 0;

    @include media_phone {
      flex-direction: column;
      padding: 0;
    }
  }
  .text {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-right: 40px;
    width: 50%;

    @include media_phone {
      padding: 0;
      width: 100%;
    }

    h2 {
      @include main_heading();
      font-size: 45px;
      font-weight: 400;
      margin-bottom: 15px;
    }

    h6 {
      color: rgb(41, 41, 41);
      font-family: 'Oswald', sans-serif;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 2px;
      margin-bottom: 15px;
      text-transform: uppercase;
    }

    p {
      @include sub_heading();
      padding: 0 70px;
    }
  }
  .pictures {
    display: flex;

    @include media_phone {
      justify-content: space-between;
      margin-top: 30px;
      padding: 10px;
    }
  }
  img {
    max-height: 150px;
    margin-right: 15px;

    @include media_phone {
      margin-right: 0;
      max-height: 100px;
    }
  }
}
//====================
// Subsection1
//===================
#subsection1 {
  .section-wrapper {
    color: #292929;
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 24px;
    padding: 50px 0;
    text-align: center;
    text-transform: uppercase;
  }
}
//====================
// Section4
//===================
#section4 {
  @include parallax_section('../img/section4-bg.jpg');
  .section-wrapper {
    @include parallax_wrapper();
  }
  h2 {
    @include parallax_h2();
  }
  p {
    @include parallax_p();
  }
  button {
    @include parallax_button();
  }
}
//====================
// Section5
//===================
#section5 {
  @include parallax_section('../img/section5-bg.jpg');
  .section-wrapper {
    @include parallax_wrapper();
  }
  h2 {
    @include parallax_h2();
  }
  p {
    @include parallax_p();
  }
  button {
    @include parallax_button();
  }
}
//====================
// Section6
//===================
#section6 {
  @include parallax_section('../img/section6-bg.jpg');
  .section-wrapper {
    @include parallax_wrapper();
  }
  h2 {
    @include parallax_h2();
  }
  p {
    @include parallax_p();
  }
  button {
    @include parallax_button();
  }
}
//====================
// Section7
//===================
#section7 {
  .section-wrapper {
    display: flex;

    @include media_phone {
      flex-direction: column;
    }
  }
  .left-half {
    background: url('../img/section7-bg.jpg');
    background-position: center;
    background-size: cover;
    padding: 100px 0;
    width: 50%;

    @include media_phone {
      height: 50vh;
      width: 100%;
    }
  }
  .right-half {
    @include flex_centered_columns();
    padding: 100px 0;
    width: 50%;

    @include media_phone {
      padding: 50px 0;
      width: 100%;
    }

    h2 {
      @include main_heading();
      padding: 0 20px;

      @include media_phone {
        padding: 0;
        text-align: center;
      }
    }

    h6 {
      @include sub_heading();
      color: #666;
      font-size: 14px;
      padding: 40px 150px 0 150px;

      @include media_phone {
        padding: 40px 20px;
        text-align: center;
      }
    }
    ul {
      @include sub_heading();
      color: #666;
      font-size: 14px;
      line-height: 24px;
      list-style-type: disc;
      margin-right: 290px;
      margin-top: 50px;

      @include media_phone {
        margin: 10px auto;
      }
    }
    button {
      @include parallax_button();
      background: rgb(41, 41, 41);
      color: #fff;
      margin-right: 290px;
      margin-top: 80px;

      &:hover {
        color: white;
        background: lighten(#000, 40%);
      }

      @include media_phone {
        margin-right: 0;
      }
    }
  }
}
//====================
// Section8
//===================
#section8 {
  background: #909f5c;
  .section-wrapper {
    @include flex_centered_columns();
    padding: 100px 150px 100px 150px;

    @include media_phone {
      margin: 20px auto;
      padding: 100px 20px;
    }
  }
  img {
    max-width: 550px;

    @include media_phone {
      max-width: 350px;
    }
  }
  .sub-heading {
    @include main_heading();
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 75px;
    text-transform: uppercase;
  }
  .contact {
    width: 50%;

    @include media_phone {
      padding: 0 20px;
      width: 100%;
    }
  }
  input {
    @include placeholder-color(#fff);
    background: #909f5c;
    border: 1px solid #fefefe;
    color: white;
    font-family: 'Oswald', sans-serif;
    height: 40px;
    letter-spacing: 2px;
    outline: none;
    padding-left: 20px;
    transition: outline 0.2s;
    width: 46%;

    &:focus {
      outline: 1px solid #ccc;
    }

    @include media_phone {
      display: block;
      margin-bottom: 10px;
      text-align: center;
      width: 100%;
    }
  }
  button {
    background: white;
    color: #909f5c;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    height: 40px;
    text-transform: uppercase;
    width: 46%;

    @include media_phone {
      display: block;
      width: 100%;
    }
  }
  .info {
    color: #fefefe;
    font-size: 16px;
    margin-top: 50px;
    opacity: 0.5;
  }
}
//====================
// Footer
//===================
footer {
  background: #2d2d2d;
  color: white;
  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 75px 50px;

    @include media_phone {
      align-items: center;
      flex-direction: column;
      justify-content: center;
      padding: 30px 20px;
    }

    .footer-section-title {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      font-family: 'Open Sans', sans-serif;
      font-size: 13px;
      font-weight: 700;
      letter-spacing: 3px;
      margin-bottom: 15px;
      padding: 15px;
      text-transform: uppercase;
    }

    .logo {
      h2 {
        font-size: 24px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        letter-spacing: 3px;
        text-align: center;
        text-transform: uppercase;
      }
    }

    .latest-updates,
    .recent-posts,
    .logo,
    .insta {
      width: 22%;

      @include media_phone {
        padding: 0 20px;
        text-align: center;
        width: 100%;
      }
    }

    .post {
      font-size: 14px;
      margin: 12px 0;

      .post-date {
        @include footer_muted();
        margin-top: 5px;
      }
    }
    .tweet {
      display: flex;
      font-size: 14px;
      margin: 12px 0;

      i {
        padding-right: 10px;
      }
    }

    .insta {
      img {
        max-width: 75px;

        @include media_phone {
          max-width: 100px;

          &:nth-of-type(2) {
            margin: none;
          }
        }
      }
    }
  }
  .copy {
    @include footer_muted();
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
    font-size: 14px;

    @include media_phone {
      flex-direction: column;
      justify-content: center;
      margin: 0 20px;
      text-align: center;
    }

    i {
      font-size: 16px;
      margin-right: 10px;
      cursor: pointer;

      &:hover {
        color: white;
      }

      @include media_phone {
        font-size: 20px;
        margin-right: 30px;
        margin-top: 20px;
      }
    }
  }
  .footer-button {
    display: flex;
    justify-content: center;
    button {
      @include footer_muted();
      background: none;
      border: 2px solid rgb(170, 170, 170);
      padding: 5px 30px;
      transition: 0.3s;

      @include media_phone {
        padding: 10px 100px;
      }
      &:hover {
        border: 2px solid #fff;
      }
    }
    padding: 40px 0 40px 0;
  }
}
